[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.13.1"
pyyaml = "*"
drf-spectacular = "==0.22.0"

[dev-packages]
black = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
